<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.systronik.tcpserver"
      version="0.1.1">
    <name>TCPServer</name>
    <description>PhoneGap TCP Server plugin</description>
    <license>MIT</license>
    <keywords>phonegap,tcp,server</keywords>


    <js-module src="www/tcpserver.js" name="TCPServer">
        <clobbers target="window.tcpserver" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TCPServer">
                <param name="android-package" value="org.systronik.tcpserver.TCPServer"/>
            </feature>
        </config-file>

        <source-file src="src/android/TCPServer.java" target-dir="src/org/systronik/tcpserver" />      
     </platform>          
</plugin>

